.portfolioContainer {
  width: 100%;
  background: #f3f3f4;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
  align-items: center;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2b0246;
}

.subtext {
  font-size: 1.25rem;
  color: #2b0246;
  max-width: 650px;
  margin: 0 auto 3.5rem;
  line-height: 1.6;
}

.grid {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 2rem;
  perspective: 1000px; 
}

.card {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  animation: slideIn linear forwards;
  animation-timeline: view();
  animation-range: entry 5% cover 30%; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px) rotateX(-10deg) scale(0.9);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0) scale(1);
    filter: blur(0);
  }
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card:hover {

  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
}




@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;
    perspective: 1000px; 
  }
  
  

  .card {
    animation: slideIn linear forwards;
    animation-timeline: view();
    animation-range: entry 5% cover 30%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  @keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px) rotateX(-10deg) scale(0.9);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0) rotateX(0) scale(1);
    filter: blur(0);
  }
  }
  .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  }
}