.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem 2rem;
  color: #2b0246;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 2rem;
}

.navLinks a {
  text-decoration: none;
  color: #2b0246;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #9900ff;
  text-decoration: underline;
}

.cta {
  background-color: #9900ff;
  color: white;

}

/* Hamburger menu (hidden by default) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  margin-top: 0;
  padding: 0 20px;
  box-sizing: border-box;
}


/* RESPONSIVE SECTION */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    width: 100%;
    text-align: left;
    font-size: 24px;
    padding: 1rem 0;
    padding-left: 25px;
  }

  .showMenu {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

